.skip{
	position: absolute;
	left: -10000%;
	top: auto;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.skip:focus {
	position: static;
	width: auto;
	height: auto;
}

.placeholder {
	max-width: 200px;
}
.topnav {
	background-color:white;
	overflow:hidden;
}
.topnav a {
	float: left;
	color:black;
	text-align:center;
	padding: 14px 16px;
	font-size: 20px;
}
img {
	width: auto;
	max-height: 100%;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 40px;
}

h1 {
	text-align: center;
	color: black;
	background: white;
	font-family: 'Patrick Hand', cursive;
	font-size:50px;
}
h2 {
	color: black;
	background: white;
}


p {
	font-family: sans-serif;
	color: black;
}

body {
	background-color: #DBF9FC;
}

img {
	display: block;
	width: 400px,
	height: auto;
	margin-left: auto;
	margin-right:auto;
}
footer {
	height:50px;
	background: white;
	text-align: center;
}
